.block-heading {
      color: #3b99e0;
    text-align:center;
      margin-bottom: 30px;
	 center:center;
	 position:top;
	p:center; 
    }
    
    .product {
      margin-bottom: 20px;
		text-align:center;
    }
    
    .summary {
      padding: 20px;
      border-bottom: 2px solid #5ea4f3;
      background-color: #f7fbff;
    }